@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

body, html{
	height: 100%;
}

body {
	background-color: #EFF1F4;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

// Custom CSS
.grid{
	display: grid;
}

.hidden{
	display: none;
}


// Index page
.find-tickets{
	background-color: $accent;
	height: 100%;
	color: #fff;
	.title{
		padding-top: 75px;
		padding-bottom: 45px;
		text-align: center;
		h1{
			font-family: "Rubik";
			font-size: 2.25em;
		}
		h2{
			font-weight: 400;
			font-size: 1.125em;
		}
	}
	.search{
		margin: 40px 90px;
		.start-search{
			margin-top: 60px;
			justify-content: center;
		}
		.btn-start-search{
			background-color: $accent2;
			color: #fff;
			font-weight: 500;
			height: 59px;
			width: 274px;
			font-size: 21px;
			position: relative;
			transition: background-color .5s ease;
			&::after{
				content: '\f3fe';
				font-family: 'Font Awesome 5 Brands';
				margin-left: 10px;
			}
			&:hover{
				background-color: lighten($accent2, 5);
			}
		}
	}
	.form-group{
		display: flex;
		.form-element{
			width: 100%;
			margin-right: 2px;
			position: relative;
			label{
				position: absolute;
				top: -22px;
				left: 3px;
				font-size: 12px;
			}
			.tips{
				position: absolute;
				margin-top: -2px;
				width: 350px;
				background-color: #fff;
				color: #000;
				.tip{
					cursor: pointer;
					position: relative;
					padding: 8px 0px;
					padding-left: 8px;
					padding-right: 12px;
					&-inner{
						padding-left: 8px;
						display: flex;
						font-size: 14px;
						span{
							color: #90a4ae;
						}
						.code{
							margin-left: auto;
							font-size: 10px;
							font-weight: 800;
							color: gray;
							align-self: center;
						}
					}
					&:hover{
						background-color: #F1FCFF;
					}
					&::after{
						content: '';
						position: absolute;
						height: 1px;
						left: 0;
						bottom: 0;
						width: 100%;
						z-index: 2;
						background-color: #DFE5EC;
					}
				}
			}
			&:first-child{
				input, select{
					border-radius: .25rem 0px 0px .25rem;
				}
			}
			&:last-child{
				input, select{
					border-radius: 0px .25rem .25rem 0px;
				}
			}
		}
		input, select{
			width: 100%;
			height: 100%;
			padding: 16px;
			border: none;
			box-shadow: 0 2px 6px 0 rgba(0,0,0,.15);
			border: 2px solid #fff;
			position: relative;
			z-index: 1;
			&:focus{
				border-color: $accent2; 
			}
			&::placeholder{
				color: #C0C0D8;
			}
		}
	}
}

// Full search
.find-tickets.mini-find-tickets{
	max-height: 180px;
	.search{
		margin: 40px 40px;
		margin-top: 0px;
		padding-top: 60px;
	}
	.form-element{
		&:nth-child(5){
			margin-right: 15px;
			input, select{
				border-radius: 0px .25rem .25rem 0px;
			}
		}
	}
	.btn-start-search{
		width: 100%;
		height: 100%;
		font-size: 18px;
		&::after{
			content: '';
		}
	}
}

.near-dates{
	display: flex;
	background-color: #fff;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.15);
	&-inner{
		display: flex;
		// margin: 30px 20px;
	}
	.info{
		display: flex;
		position: relative;
		top: 22px;
		margin-left: 25px;
		margin-right: 15px;
		.text{
			position: relative;
			top: -3px;
			margin-left: 10px;
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;
			div:nth-child(2){
				color: #a4b0b9;
			}
		}
	}
	.dates{
		display: flex;
		.date{
			position: relative;
			// top: -10px;
			min-width: 140px;
			padding: 20px 20px;
			font-size: 13px;
			line-height: 16px;
			&-price{
				color: #a0b0b9;
				padding-bottom: 5px;
				font-size: 11px;
			}
			&-info{
				color: #a4b0b9;
			}
			cursor: pointer;
			&.empty{
				opacity: .5;
				user-select: none;
				cursor: default;
				&:hover{
					background-color: #fff;
				}
			}
			&.selected{
				background-color: #F4FDFF;
				&::after{
					content: '';
					position: absolute;
					height: 2px;
					width: 100%;
					left: 0;
					bottom: 0;
					background-color: $accent;
				}
			}
			&:hover{
				background-color: #F4FDFF;
			}
		}
	}
}

// Search results

.checkbox__container{
	position: relative;
	input[type="checkbox"]{
		display: none;
		position: absolute;
	}
	input[type="checkbox"]:checked ~ .checkmark{
		display: inline-block;
		background-color: rgba($accent, $alpha: .1);
		border-color: $accent;
	}
	input[type="checkbox"]:checked ~ .checkmark:after{
		display: block;
	}
	.checkmark{
		display: inline-block;
		margin: 0px;
		width: 19px;
		height: 19px;
		border: 1px solid #d2d5d6;
		border-radius: 3px;
		margin-right: 5px;
		-webkit-transition: all .2s ease;
		z-index: 1;
		margin-bottom: -5px;
		cursor: pointer;
		transition: all .2s ease;
		&::after{
			content: "";
			display: none;
			position: absolute;
			top: 12px;
			left: 5px;
			z-index: 1;
			width: 10px;
			height: 9px;
			background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwI…Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=) no-repeat;
			background: var(--checkbox-check-mark,url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOSA3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTEuNSAzLjVsMiAyIDQtNCIgc3Ryb2tlPSIjMjE5NkYzIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=) no-repeat);
			-webkit-transform: translateY(-5px);
			transform: translateY(-5px);
			-webkit-transition: opacity .2s ease-in-out,-webkit-transform .2s ease-in-out;
			transition: opacity .2s ease-in-out,-webkit-transform .2s ease-in-out;
			transition: opacity .2s ease-in-out,transform .2s ease-in-out;
			transition: opacity .2s ease-in-out,transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
		}
	}
}

.search-results{
	grid-template-columns: 300px 730px;
	margin-left: 25px;
	margin-top: 30px;
	margin-bottom: 30px;
	grid-gap: 20px;
	.filters{
		&__button{
			.btn{
				background-color: #fff;
				box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
				text-transform: uppercase;
				color: $accent;
				height: 50px;
				font-weight: 700;
				font-size: 12px;
				transition: background-color .4s ease;
				&:hover{
					background-color: $selection;
				}
			}
		}
		background-color: #fff;
		border-radius: .25rem;
		box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
		min-height: 250px;
		.options{
			border-bottom: 1px solid #dce2e4;
			cursor: pointer;
			&__inner{
				padding: 15px 20px;
			}
			&__name{
				font-weight: 600;
				font-size: 12px;
				text-transform: uppercase;
			}
			&__details{
				margin-top: 14px;
				margin-left: 12px;
				font-size: 13px;
			}
			transition: background-color .4s ease;
			input[type="text"]{
				font-size: 13px;
			}
			&:first-child{
				border-radius: .25rem .25rem 0px 0px;
			}
			&:hover{
				background-color: $selection;
			}
		}
	}
	.results{
		&_buttons{
			height: 100%;
			&__tabs{
				display: flex;
				height: 100%;
				box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
			}
			&__tab{
				background-color: #fff;
				width: 100%;
				height: 100%;
				border: 1px solid #DCE2E4;
				display: flex;
				justify-content: center;
				align-items: center;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 12px;
				color: $accent;
				cursor: pointer;
				transition: background-color .4s ease;
				&:first-child{
					border-radius: .25rem 0px 0px .25rem;
					border-right: 0px;
					&:hover{
						border-right: 1px $accent solid;
					}
				}
				&:last-child{
					border-left: 0px;
					border-radius: 0px .25rem .25rem 0px;
					&:hover{
						border-left: 1px $accent solid;
					}
				}
				&.selected{
					background-color: $accent !important;
					border-color: $accent !important;
					color: #fff;
				}
				&:hover{
					background-color: $selection;
					border-color: $accent
				}
			}
		}
		.result{
			margin-top: 20px;
			background-color: #fff;
			border-radius: .25rem;
			box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
			min-height: 250px;
			grid-template-columns: 210px 1fr;
			&:first-child{
				margin-top: 0px;
			}
			&__first{
				&__inner{
					padding: 20px
				}
				.baggage{
					font-weight: 600;
					text-align: center;
					text-transform: uppercase;
					font-size: 12px;
					color: $accent;
				}
				.btn{
					&__wrapper{
						display: flex;
						width: 100%;
						justify-content: center;
					}
					margin-top: 20px;
					background-color: $accent2;
					box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
					color: #fff;
					height: 50px;
					width: 100%;
				}
			}
			&__second{
				border-left: 1px #E4E7E8 solid;
				&__inner{
					padding: 20px
				}
				.info{
					display: flex;
				}
				.company-logo{
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 6px;
					&__inner{
						width: 85%;
						height: 85%;
						background-size: cover;
					}
					height: 36px;
					width: 36px;
					border: 1px solid #E4E7E8;
					border-radius: 4px;
					background-size: cover;
					background-position: center;
				}
			}
		}
		.path{
			margin-top: 25px;
			grid-template-columns: 90px 1fr 90px;
			font-size: 28px;
			font-weight: 400;
			.depart{
				&__date{
					font-size: 11px;
					color: #a0b0b9;
				}
			}

			&-line{
				display: flex;
				align-self: center;
				padding: 0px 20px;
				margin-right: 5px;
				position: relative;
				.line{
					height: 2px;
					background-color: #A0B0B9;
					width: 100%;
					position: relative;
					top: 3px;
				}
				.point{
					width: 8px;
					height: 8px;
					border: 1px #A0B0B9 solid;
					border-radius: 50%;
					background-color: #A0B0B9;
				}
			}

			&-length{
				width: 100%;
				text-align: center;
				position: absolute;
				left: 0;
				top: -23px;
				font-weight: 600;
				font-size: 12px;
			}

			.arrive{
				&__date{
					font-size: 11px;
					color: #a0b0b9;
				}
			}
		}
	}
}

// Seat selector
.seat-selector-container{
	// display: flex;
	// justify-content: center;
}
.seat-selector{
	display: grid;
	grid-template-columns: auto 20px auto 1fr;
	grid-gap: 10px;
	&__first-block, &__second-block{
		display: grid;
		grid-template-columns: repeat(3, 22px);
		grid-gap: 5px;
	}
	&__middle-block{
		text-align: center;
	}
	&__seat{
		&--selected{
			background-color: #82ff92;
		}
		&--taken{
			background-color: #f97279;
		}
		cursor: pointer;
		color: white;
		width: 22px;
		height: 22px;
		text-align: center;
		background-color: #8b8d8e;
	}
	&__info-block{
		padding-left: 15px;
	}
}

@import "media"; // Always at the end